<app-administrator-navbar *ngIf="formType != 'typeUpdate'"></app-administrator-navbar>
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="row">
      <div class="form-group col-md-12">
        <mat-form-field>
          <input matInput placeholder="Nombre del tipo de Animal" type="text" formControlName="name" id="name" >
          <mat-error *ngIf="registerForm.controls['name'].errors">
            Nombre del tipo de animal requerido
          </mat-error>
        </mat-form-field>
      </div>
      <input *ngIf="formType == 'typeUpdate'" type="hidden" formControlName="idType" value="">
        <div class="row">
          <div class="col-md-12" *ngIf="formType != 'typeUpdate'">
            <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Registrar Animal</button>
          </div>
          <div class="col-md-12" *ngIf="formType == 'typeUpdate'">
            <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Guardar</button>
          
          </div>
        </div>
      </div>
    </form>
</div>