<div class="row" *ngIf="userComment">
  <div class="col-md-12" *ngFor="let comment of comments">
    <div class="row">
      <div class="col-md-12 d-inline-block">
        <ngx-avatar 
          [src]="userComment.avatar" 
          size="20" 
          [round]="true" borderColor="#000">
        </ngx-avatar>
      </div> 
      <hr>
      <div class="col-md-11">
        {{comment.user_id | userIdToName | async}} | {{comment.date | date}}
      </div>    
    </div>
    <div class="row mt-1 mb-2">
      {{comment.text}}
    </div>
  </div>
</div>
<div class="row">
  <form [formGroup]="commentForm" (ngSubmit)="commentSubmit()">
    <div class="col-md-12">
      <mat-form-field>
        <textarea matInput placeholder="Escribir comentario" formControlName="text" id="text"></textarea>
        <mat-error>
          Campo obligatorio para enviar un comentario.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row col md-12 text-center mt-3">
      <button mat-raised-button color="primary" [disabled]="!commentForm.valid" class="btnRegister">Comentar</button>
    </div>
    <input type="hidden" formControlName="id" id="id">
    <input type="hidden" formControlName="animalId" id="animalId" [value]="animalId">
    <input type="hidden" formControlName="userId" id="userId">
    <input type="hidden" formControlName="date" id="date">
  </form>
</div>