<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestionar Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="../../../admin/user/register">Registro</a>
          <a class="dropdown-item" routerLink="../../../admin/user/management">Modicicación / Baja</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestionar Animales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="../../../admin/animal/register">Registro</a>
          <a class="dropdown-item" routerLink="../../../admin/animal/management">Modicicación / Baja</a>
        </div>
      </li>
    </ul>
  </div>
</nav>