ngx-avatar{
  display:inline-block;
}

.container-fluid {
  margin: 0%;
  padding: 0%;
}

.principal {
  width: 95%;
}

.lateral {
  height: 90vh;
  margin-left: 0%;
}

.avatar {
  text-align: center;
}

.title {
  text-align: center;
  color: gray;
}

.button {
  width: 80%;
}

.lateral {
  background-color: #0c92bb15;
}

.btnUpdate {
  background-color: #0c92bbda;
}

.btnAdopted {
  background-color: hsl(44, 97%, 49%);
}

