<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 lateral">
      <div class="row mt-5">
        <div class="col-md-12 avatar">
          <ngx-avatar 
            src="https://firebasestorage.googleapis.com/v0/b/protectoraweb-4cb74.appspot.com/o/profileavatars%2F1%2Favatar.svg?alt=media&token=53d8ed1c-be39-467a-b4df-85181dd6c90b" 
            size="100" 
            [round]="true" borderColor="#000">
          </ngx-avatar>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 title">
          <h3>Administrador</h3>
        </div>
      </div>
      <div class="row ml-1 mr-1 mb-2">
        <div class="col-md-12">
          <button mat-raised-button color="primary" class="button">Modificar Datos</button>
        </div>
      </div>
      <div class="row ml-1 mr-1">
        <div class="col-md-12">
          <button mat-raised-button color="warn" class="button">Ver animales adoptados</button>
        </div>
      </div>
    </div>
    <div class="col-md-10 w-100 mt-5">
       
    </div>
  </div>  
</div>