<div class="container-fluid padding-blank margin-blank" *ngIf="user">
  <div class="row principal">
    <div class="col-md-3 mr-0 pr-0 lateral">
      <div class="row mt-3">
        <div class="col-md-12 avatar pr-0">
          <ngx-avatar 
            [src]="user.avatar" 
            size="100" 
            [round]="true" borderColor="#000"
            *ngIf="user.avatar">
          </ngx-avatar>
          <ngx-avatar 
            [name]="name" 
            size="100" 
            [round]="true" 
            *ngIf="!user.avatar">
          </ngx-avatar>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 title">
          <h3>{{user.username}}</h3>
        </div>
      </div>
      <div class="row mx1 mb-2">
        <div class="col-md-12 text-center mx-0">
          <button mat-raised-button color="primary" class="button" (click)="loadPage('userUpdate')">Modificar Datos</button>
        </div>
      </div>
      <div class="row mx1">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="warn" class="button" (click)="loadPage('myAnimals')">Tus animales</button>
        </div>
      </div>
    </div>

    <div class="col-md-9 mx-0 px-0 w-100" *ngIf="page === 'userUpdate'; else myAnimals">
      <app-user-update [user]="user"></app-user-update>
    </div>
    <ng-template #myAnimals>
      <div class="col-md-9 mx-0 px-0 w-100">
        <app-adopted-animals [userId]="user.id"></app-adopted-animals>
      </div>
    </ng-template>
  </div>  
</div>