

.mat-form-field {
	width: 100%;
}

.upload-drop-zone {
	border: 2px dotted gray;
	height: 10vh;
	display: flex;
    /* flex-direction: column;*/
	align-items: center;
	text-align: center;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
	align-items: center;
	width: 100%;
}
.example-headers-align {
	width: 100%!important;
}
img{
	height: 50px;
	width: 100px;
}
#imagenListar {
	height: 108px;
  width: 192px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.5px solid black;
  margin: 20px;
}
#delete {
  position: relative;
  float: right;
}
#icon {
  border: 0.3 solid black;
}