<app-administrator-navbar *ngIf="formType != 'animalUpdate'"></app-administrator-navbar>
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="row">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos de Animal
          </mat-panel-title>
          <mat-panel-description>
            Nombre de usuario, raza, tipo...
            <mat-icon>pets</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
      <div class="form-group col-md-12">
        <mat-form-field>
          <input matInput placeholder="Nombre de Animal" type="text" formControlName="name" id="name" cdkFocusInitial>
          <mat-error *ngIf="registerForm.controls['name'].errors">
            Nombre de Animal requerido: min 4 caracteres.
            Mayúsculas, minúsculas, -
          </mat-error>
        </mat-form-field>
      </div>
        <div class="form-group col-md-12">
          <mat-radio-group aria-label="Selecciona un genero" formControlName="type">
            <mat-radio-button value="Perro"  ngDefaultControl> Perro </mat-radio-button>
            <br>
            <mat-radio-button value="Gato"  ngDefaultControl> Gato </mat-radio-button>
            <br>
            <mat-radio-button value="Otros"  ngDefaultControl> Otros </mat-radio-button>
          </mat-radio-group>
            <mat-error *ngIf="registerForm.controls['type'].errors">
              Tipo de Animal requerido
            </mat-error>
        </div>

        <div class="form-group col-md-12">
          <mat-form-field>
            <input matInput placeholder="Raza" type="text" formControlName="breed" id="breed" >
            <mat-error *ngIf="registerForm.controls['breed'].errors">
              Raza requerida
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-md-12">

            <mat-radio-group aria-label="Selecciona un genero" formControlName="gender">
              <mat-radio-button value="Macho" ngDefaultControl> Macho </mat-radio-button>
              <br>
              <mat-radio-button value="Hembra" ngDefaultControl> Hembra </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="registerForm.controls['gender'].errors">
              Genero requerido
            </mat-error>

        </div>

        <div class="form-group col-md-12" *ngIf="formType != 'animalUpdate'">
          <mat-form-field>
            <mat-label>Tamaño de animal</mat-label>
            <mat-select formControlName="size" >
              <mat-option>--</mat-option>
              <mat-option value="Pequeño">Pequeño</mat-option>
              <mat-option value="Mediano">Mediano</mat-option>
              <mat-option value="Grande">Grande</mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['name'].errors">Por favor seleccione un tipo de animal </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-md-12" *ngIf="formType == 'animalUpdate'">
          <mat-form-field>
            <mat-label>Tamaño de animal</mat-label>
            <mat-select formControlName="size" >
              <mat-option value="Pequeño">Pequeño</mat-option>
              <mat-option value="Mediano">Mediano</mat-option>
              <mat-option value="Grande">Grande</mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['name'].errors">Por favor seleccione un tipo de animal </mat-error>
          </mat-form-field>
          </div>

        <div class="form-group col-md-12">
          <mat-form-field>
              <input matInput [matDatepicker]="birthDate" placeholder="Fecha de Nacimiento" formControlName="birthDate">
              <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
              <mat-datepicker #birthDate></mat-datepicker>
              <mat-error *ngIf="registerForm.controls['birthDate'].errors">
                Fecha de Nacimiento requerida en formato DD/MM/AAAA
              </mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="formType == 'animalUpdate'">
            <div class="form-group col-md-12">
                <mat-form-field>
                    <input matInput [matDatepicker]="entranceDate" placeholder="Fecha de Entrada" formControlName="entranceDate">
                    <mat-datepicker-toggle matSuffix [for]="entranceDate"></mat-datepicker-toggle>
                    <mat-datepicker #entranceDate></mat-datepicker>
                    <mat-error *ngIf="registerForm.controls['entranceDate'].errors">
                      Fecha de Entrada requerida en formato DD/MM/AAAA
                    </mat-error>
                  </mat-form-field>
              </div>

              <div class="form-group col-md-12">
                <mat-form-field>
                    <input matInput [matDatepicker]="adoptionDate" placeholder="Fecha de Nacimiento" formControlName="adoptionDate">
                    <mat-datepicker-toggle matSuffix [for]="adoptionDate"></mat-datepicker-toggle>
                    <mat-datepicker #adoptionDate></mat-datepicker>
                    <mat-error *ngIf="registerForm.controls['adoptionDate'].errors">
                      Fecha de Adopcion requerida en formato DD/MM/AAAA
                    </mat-error>
                  </mat-form-field>
              </div>

              <div class="form-group col-md-12">
                <mat-radio-group aria-label="Selecciona un Estado" formControlName="status">
                  <mat-radio-button value="en adopción" ngDefaultControl> En adopción </mat-radio-button>
                  <br>
                  <mat-radio-button value="en proceso de adopción" ngDefaultControl> En proceso de adopción </mat-radio-button>
                  <br>
                  <mat-radio-button value="adoptado" ngDefaultControl> Adoptado </mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="registerForm.controls['status'].errors">
                  Estado requerido
                </mat-error>
            </div>

        </div>

        <div class="form-group col-md-12">
            <mat-form-field>
                <textarea matInput placeholder="Descripción" formControlName="description" id="description"></textarea>
                <mat-error *ngIf="registerForm.controls['description'].errors">
                    Descripcion requerida
                </mat-error>
            </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Imagenes
            </mat-panel-title>
            <mat-panel-description>
              Imagenes
              <mat-icon>collectios</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

        <div class="row" *ngIf="formType != 'animalUpdate'">
          <div class="col-md-12">
            <button mat-raised-button color="primary" class="avatarBtn" type="button" (click)="openInput()">Subir</button>
            <input type="file" id="imgUpload" (change)="selectImage($event)" accept=".png, .jpg, .svg" multiple>
            
          </div>
            <div class="row col-md-12" *ngFor="let file of files;let i = index">Nombre: {{file.name}} {{i}} </div>

          <div class="col-md-12 mt-3">
            <mat-progress-bar mode="determinate" [value]="uploadpercent | async"></mat-progress-bar>
          </div>
        </div>
      </mat-expansion-panel>

        <input *ngIf="formType == 'animalUpdate'" type="hidden" formControlName="idAnimal" value="">

        <div *ngIf="formType != 'animalUpdate'">
          <input type="hidden" formControlName="entranceDate" id="entranceDate" value="">
          <input type="hidden" formControlName="adoptionDate" id="adoptionDate" value="">
          <input type="hidden" formControlName="status" id="status" value="sin adoptar">
        </div>

        <hr>
        <div *ngIf="formType != 'animalUpdate'">
          <div class="col-md-12">
            <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Registrar Animal</button>
          </div>
        </div>


        <div class="row" *ngIf="formType == 'animalUpdate'">
          <div class="col-md-12">
            <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Guardar</button>
            <button mat-raised-button color="danger" >Borrar</button>
          </div>
        </div>
        </div>
      </form>
  </div>