<div class="container">
  <div class="row mat-dialog-content">
    <div class="col-md-12 text-center">
      <h1 mat-dialog-title>Advertencia:</h1>
    </div>
    <div class="row mat-dialog-content">
        <div class="col-md-12 text-center">
          <mat-dialog-content>
            <p>{{message}}</p>
          </mat-dialog-content>
        </div>
    </div>
  </div>
  <div mat-dialog-actions class="row">
      <div class="col-md-12 text-center mb-3">
        <button mat-raised-button color="primary" [matDialogClose]>Aceptar</button>
      </div>
  </div>
</div>