<app-administrator-navbar></app-administrator-navbar>

<div class="container">
  <div class="mat-elevation-z18">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID -->
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let animales"> {{animales.id}} </td>
      </ng-container>

      <!-- Nombre de Usuario -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de animal </th>
        <td mat-cell *matCellDef="let animales"> {{animales.name}} </td>
      </ng-container>

      <!-- Tipo -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de animal </th>
        <td mat-cell *matCellDef="let animales"> {{animales.type | animalTypeNamePipe | async}} </td>
      </ng-container>
      <!-- Raza -->
      <ng-container matColumnDef="breed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Raza </th>
        <td mat-cell *matCellDef="let animales"> {{animales.breed | animalBreedNamePipe | async}} </td>
      </ng-container>
      <!-- Fecha Nacimiento -->
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Nacimiento </th>
        <td mat-cell *matCellDef="let animales"> {{animales.birth_date}} </td>
      </ng-container>
      <!-- Fecha Llegada -->
      <ng-container matColumnDef="entranceDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Entarda </th>
        <td mat-cell *matCellDef="let animales"> {{animales.entrance_date}} </td>
      </ng-container>

      <!-- Acceder -->
      <ng-container matColumnDef="acces">
        <th mat-header-cell *matHeaderCellDef> Modificar </th>
        <td mat-cell *matCellDef="let animales">
          <button mat-icon-button color="accent" (click)="openModal(animales)">
            <mat-icon class="mat-18">system_update</mat-icon>
        </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>