<app-administrator-navbar *ngIf="!formType"></app-administrator-navbar>

<div class="container mt-2">
  <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="row">

      <mat-accordion class="example-headers-align">

        <!-- Datos de Perfil -->
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Datos de Perfil
            </mat-panel-title>
            <mat-panel-description>
              Nombre de usuario, contraseña, correo electrónico...
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="mt-2">
            <input matInput placeholder="Nombre de Usuario" type="text" formControlName="userName" id="userName" cdkFocusInitial>
            <mat-error *ngIf="registerForm.controls['userName'].errors">
              Nombre de usuario requerido: min 4 caracteres.
              Mayúsculas, minúsculas, números, -, _
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mt-2">
            <input matInput placeholder="Contraseña" type="password" formControlName="password" id="password" >
            <mat-error *ngIf="registerForm.controls['password'].errors" class="mb-2">
              Contraseña requerida: min 6 caracteres, debe contener minúscula, mayúscula, número y símbolo
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mt-2">
            <input matInput placeholder="Correo Electrónico" type="email" formControlName="email" id="email">
            <mat-error *ngIf="registerForm.controls['email'].errors" class="mb-2">
              Email requerido: Formato: ejemplo@email.com
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mt-2" *ngIf="!formType || formType === 'userUpdate'">
            <mat-label>Tipo de Usuario</mat-label>
            <mat-select formControlName="userType" id="userType">
              <mat-option *ngFor="let usuario of tiposUsuario" [value]="usuario.value">
                {{usuario.desc}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['userType'].errors">
              Tipo de usuario requerido.
            </mat-error>
          </mat-form-field>
        </mat-expansion-panel>

        <!-- Datos Personales -->
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Datos Personales
            </mat-panel-title>
            <mat-panel-description>
              Nombre, apellidos, dni...
              <mat-icon>person</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="mt-2">
            <input matInput placeholder="Nombre" type="text" formControlName="name" id="name">
            <mat-error *ngIf="registerForm.controls['name'].errors">
              Nombre requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mt-2">
            <input matInput placeholder="Apellidos" type="text" formControlName="surname" id="surname" >
            <mat-error *ngIf="registerForm.controls['surname'].errors">
              Apellido requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mt-2">
            <input matInput placeholder="DNI" type="dni" formControlName="dni" id="dni" >
            <mat-error>
              DNI requerido: Formato: 12345678L
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mt-2">
            <input matInput placeholder="Teléfono" type="number" formControlName="phone" id="phone" >
            <mat-error *ngIf="registerForm.controls['number'].errors">
              Número de teléfono requerido: 9 números
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mt-2">
            <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="birthDate" readonly="true" (click)="picker.open()" formControlName="birthDate" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="registerForm.controls['birthDate'].errors">
              Fecha de Nacimiento requerida en formato DD/MM/AAAA
            </mat-error>
          </mat-form-field>
        </mat-expansion-panel>

        <!-- Dirección -->
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dirección
            </mat-panel-title>
            <mat-panel-description>
              Calle, municipio, ...
              <mat-icon>home</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput placeholder="Calle" type="text" formControlName="street" id="street">
                <mat-error *ngIf="registerForm.controls['street'].errors">
                  Calle requerido
                </mat-error>
              </mat-form-field>
            </div>
          </div>  
          <div class="row mt-2">
            <div class="col-md-3">
              <mat-form-field>
                <input matInput placeholder="Número" type="number" formControlName="number" id="number">
                <mat-error *ngIf="registerForm.controls['number'].errors">
                  Número de la calle requerido.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput placeholder="Portal" type="text" formControlName="portal" id="portal">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput placeholder="Piso" type="number" formControlName="floor" id="floor">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input matInput placeholder="Puerta" type="text" formControlName="door" id="door">
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Provincia" type="text" formControlName="province" id="province">
                <mat-error>
                    Provincia requerido.
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Ciudad" type="text" formControlName="city" id="city">
                <mat-error>
                  Ciudad requerido.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Código Postal" type="number" formControlName="postalCode" id="postalCode">
                <mat-error>
                  Código Postal requerido.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- Avatar -->
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Imagen de perfil
            </mat-panel-title>
            <mat-panel-description>
              Avatar
              <mat-icon>face</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row mt-3">
            <div class="col-md-4">
              <button mat-raised-button color="primary" class="avatarBtn btnPrincipalColor" type="button" (click)="openInput()">Avatar</button>
              <input hidden type="file" id="imgUpload" (change)="selectImage($event)" accept=".png, .jpg, .svg">
              <input type="hidden" formControlName="imgUrl" id="imgUrl" [value]="urlImage">
            </div>
            <div class="col-md-8 loading">
              <mat-progress-bar mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="row my-5">
      <button *ngIf="(!formType)" mat-raised-button color="primary" class="submitBtn btnPrincipalColor" [disabled]="!registerForm.valid">
        Registrar Usuario
      </button>
      <button *ngIf="(formType)" mat-raised-button color="primary" class="submitBtn btnPrincipalColor" [disabled]="!registerForm.valid">
        Modificar Usuario
      </button>
    </div>
    <input type="hidden" formControlName="idUser" id="idUser">
      
  </form>
</div>
