<ul id="menu">
  <li data-menuanchor="inicio"><a href="#inicio">Portada</a></li>
  <li data-menuanchor="noticias"><a href="#noticias">Noticias</a></li>
  <li data-menuanchor="enlaces"><a href="#enlaces">Enlaces</a></li>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  
  <div class="section masthead imgPrincipal" [ngStyle]="{'background-image': 'url(assets/homeimg/' + imgBackground + ')'}">
    <div class="row">
      <div class="col-12 text-center content">
        <h1 class="font-weight-light">Bienvenidos a Maskotak</h1>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1 class="font-weight-light">Eventos</h1>
        </div>
      </div>
      <div class="row mt-3 px-5 news" *ngFor="let item of news">
          <div class="row mt-2">
            <div class="col-12">
              <h2>{{item.name}}</h2>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 w-100">
             <p class="w-100">{{item.content}}</p>  
            </div>
          </div>
          <div class="row mt-2 mb-2 w-100">
            <div class="col-12 dateNews">
              {{item.date}}
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="section links animalLinks">
    <div class="row m-0 p-0 cathome imgBack">
      <a href="" class="catLink" [routerLink]="['../animals/list', 1]">
        <h1>NUESTROS GATOS</h1>
      </a>
    </div>
    <div class="row m-0 p-0 doghome imgBack">
      <a href="" class="link" [routerLink]="['../animals/list', 2]">
        <h1>NUESTROS PERROS</h1>
      </a>
    </div>
    <div class="row m-0 p-0 othershome imgBack">
      <a href="" class="link" [routerLink]="['../animals/list', 3]" >
        <h1>OTROS ANIMALES</h1>
      </a>
    </div>
  </div>
</div>