html, body{
  margin: 0px;
  padding: 0px;
}

/* Portada */
.masthead {
  background: linear-gradient(rgba(0,0,0,.8), rgba(255,255,255,0.1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: 1;
  overflow: hidden;
}

.imgPrincipal {
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


h1 {
  font-weight: bolder;
  font-size: 4rem;
}

.content {
  margin-top: 5%;
}

.animalLinks {
  background: linear-gradient(rgba(0,0,0,.8), rgba(255,255,255,0.1));
  color: white;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 30.7%;
}

.links {
  margin: 0px;
  padding: 0px;
}

/* Noticias */

.news {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}

.dateNews {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}

/* Enlaces */

.cathome {
  height: 30.7%;
  background-image: url(../../../../assets/homeimg/cathome.jpg);
  background-size: cover;
  z-index: -1;
}

.doghome {
  height: 30.7%;
  background-image: url(../../../../assets/homeimg/doghome.jpg);
  background-size: cover;
  text-align: right;
  z-index: -1;
}

.othershome {
  height: 30.7%;
  background-image: url(../../../../assets/homeimg/rabbithome.jpg);
  background-size: cover;
  text-align: right;
  z-index: -1;
}

.link {
  width: 100%;
  text-align: right;
  vertical-align: bottom;
  text-decoration: none;
  color: white;
}

.catLink {
  width: 100%;
  vertical-align: bottom;
  text-decoration: none;
  color: white;
}


/* Botones */
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
          border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:90%;
	text-align: center;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.section {
  z-index: -10;
}