<div class="container px-0">

<!-- Carousel -->
  <div class="col-12 carouselContainer">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image.image" alt="Random first slide">
      </ng-template>
    </ngb-carousel>
  </div>

  <!-- Images -->
  <div class="container pr-0">
    <div class="row mt-4" *ngIf="userId === animalData.user_id">
      <div class="col-3 text-left pr-0">
        <button mat-raised-button color="primary" class="imgBtn mr-2" type="button" (click)="openInput()">Elegir imagenes</button>
        <input hidden type="file" id="imgUpload" (change)="selectImage($event)" accept=".png, .jpg, .svg" multiple>
        <button mat-raised-button color="primary" class="imgBtn px-10" type="button" (click)="registerSubmit()" [disabled]="files && files.length <= 0">Subir</button>
      </div>
      <div class="col loading px-0">
        <mat-progress-bar mode="determinate" [value]="uploadpercent | async"></mat-progress-bar>
      </div>
    </div>
    <div class="row mt-2" > 
      <div class="col-md-4 text-left" *ngFor="let file of files;let i = index">
        <button mat-icon-button (click)="removeImage(file.name)">
          <i class="material-icons" style="color:red">close</i>
        </button>
        Nombre: {{file.name}} {{i}}
      </div>
    </div>
    
    <div *ngIf="images">
      <div class="row imageList" >
        <div class="col-md-3 imgFrame" *ngFor="let image of images" [ngStyle]="{'background-image':'url('+image.image+')'}" id="imagenListar" (click)="openImg(image.image)">
          <button mat-icon-button (click)="imageDelete(image.id)" id="delete" *ngIf="userId === animalData.user_id">
            <i class="material-icons" style="color:red" id="icon">delete</i>
          </button>
        </div>
      </div> 
    </div>

  </div>
</div>