<div class="col-md-12 carouselContainer">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <img [src]="image.image" alt="Random first slide">
    </ng-template>
  </ngb-carousel>
</div>
<div class="container">

  <div class="row mt-2">
    <div>
      <button class="col-md-6" mat-raised-button color="primary" class="avatarBtn" type="button" (click)="openInput()">Subir imagenes</button>
      <input hidden type="file" id="imgUpload" (change)="selectImage($event)" accept=".png, .jpg, .svg" multiple>
    </div>
    <div class="col-md-6 loading">
      <mat-progress-bar mode="determinate" [value]="uploadpercent | async"></mat-progress-bar>
    </div>
  </div>

  <div class="row col-md-12" *ngFor="let file of files;let i = index">Nombre: {{file.name}} {{i}} <button mat-icon-button (click)="removeImage(file.name)"><i class="material-icons" style="color:red">close</i></button></div>

  <div class="row col-md-12" *ngIf="images.length >= 1 ">
    <h4>Images de animal</h4>
    <div class="row col-md-12" *ngFor="let image of images"><img [src]="image.image" id="imagenListar"><button mat-icon-button (click)="imageDelete(image.id)"><i class="material-icons" style="color:red">delete</i></button></div>

  </div> 
  <button class="col-md-6" mat-raised-button color="primary" class="avatarBtn" type="button" (click)="registerSubmit()">Subir imagenes</button>

  

</div>