img {
  width: 100%;
}

.carouselContainer {
  max-width: 800px;
}

#imagenListar {
	height: 108px;
  width: 192px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.5px solid black;
  margin: 20px;
}
#delete {
  position: relative;
  float: right;
}
#icon {
  border: 0.3 solid black;
}

