<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand">Protectora</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="user/register">Registro Usuarios <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="animals/list">Lista de animales <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="connectAdmin()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="admin/user/register">Administrador <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="isLogOut()">
        <a class="nav-link" [routerLink]="['user/profile', user]">Perfil <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <button *ngIf="!isLogOut()" mat-raised-button color="primary" (click)="openDialog()">Acceder</button>
        <button *ngIf="isLogOut()" mat-raised-button color="primary" (click)="logOut()">Salir</button>
      </li>
    </ul>

  </div>
</nav>