.navbar {
  background-color: #0c92bbda;
  z-index: 1000;
  width: 100vw;
  color: white;
  padding-right: 5%;
}

.dropdown-menu,
.dropdown-item {
  z-index: 5000;
}


#navbarsExample04 {
  width: 100vw;
  color: white;
}

.logo {
  height: 50px;
}

.navbarDropdown :hover {
  cursor: pointer;
}

/* Modal Login */
.close {
  color: red;
}

.btnAccept {
  background-color: #0c92bbda;
  margin-right: 5%;
}

.btnCancel {
  background-color: hsl(44, 97%, 49%);
}

.alert-danger {
  width: 95%;
}

mat-form-field {
  width: 100%;
}