.navbar {
  background-color: #0c92bbda;
  z-index: 1000;
  width: 100vw;
  padding-left: 2em;
  color: white;
}

.dropdown-menu,
.dropdown-item {
  z-index: 5000;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
}

#navbarsExample04 {
  width: 100vw;
  color: white;
}
