<app-administrator-navbar *ngIf="formType != 'newsUpdate'"></app-administrator-navbar>
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="row">
      <div class="form-group col-md-12">
        <mat-form-field>
          <input matInput placeholder="Titulo de la noticia" type="text" formControlName="name" id="name" >
          <mat-error *ngIf="registerForm.controls['name'].errors">
            Titulo de la noticia requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-12">
          <mat-form-field>
              <textarea matInput placeholder="Contenido de la noticia" formControlName="content" id="content"></textarea>
              <mat-error *ngIf="registerForm.controls['content'].errors">
                  Contenido de la noticia Requerida
              </mat-error>
          </mat-form-field>
      </div>

      <div class="form-group col-md-12" *ngIf="formType == 'newsUpdate'">
          <mat-form-field>
              <input matInput [matDatepicker]="publicationDate" placeholder="Fecha de Entrada" formControlName="publicationDate">
              <mat-datepicker-toggle matSuffix [for]="publicationDate"></mat-datepicker-toggle>
              <mat-datepicker #publicationDate></mat-datepicker>
              <mat-error *ngIf="registerForm.controls['publicationDate'].errors">
                Fecha de Publicacion requerida en formato DD/MM/AAAA
              </mat-error>
            </mat-form-field>
        </div>

        <input *ngIf="formType != 'newsUpdate'" type="hidden" formControlName="publicationDate" id="publicationDate" value="">

      <input *ngIf="formType == 'newsUpdate'" type="hidden" formControlName="idnews" value="">
      <input *ngIf="formType == 'newsUpdate'" type="hidden" formControlName="publicationDate" value="">
        <div class="row">
          
          <div class="col-md-12" *ngIf="formType != 'newsUpdate'">
            <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Registrar Noticia</button>
          </div>
          <div class="col-md-12" *ngIf="formType == 'newsUpdate'">
            <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Guardar</button>
          </div>
        </div>
      </div>
    </form>
</div>