.mat-form-field {
	width: 100%;
}

.imageUserData {
	background-image: url('../../../../../assets/regformimg/person.svg');
	background-repeat: no-repeat;
	overflow:hidden;
	background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	-webkit-align-content: center;
  align-content: center;
}

.imageAddress {
	background-image: url('../../../../../assets/regformimg/home.png');
	background-repeat: no-repeat;
	overflow:hidden;
	background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	-webkit-align-content: center;
  align-content: center;
}

.imagePersonalData {
	background-image: url('../../../../../assets/regformimg/profile.svg');
	background-repeat: no-repeat;
	overflow:hidden;
	background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	-webkit-align-content: center;
  align-content: center;
}

.btnGeneral{
	width: 100%;
	background-color: #0c92bbda;
}

