
<div class="row principal">
  <div class="col-md-12 text-center">
    <h1>Modificar Perfil</h1>
  </div>
<div class="col-md-12 w-100">
  <div class="col-lg-4 col-md-4 col-sm-6 card2">
      <div class="thumbnail img-thumb-bg">
        <div class="overlay"></div>
        <div class="caption">
          <div class="title"><a href="#">Hodor</a></div>
          <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla porro qui quo expedita voluptas ab iure dolore.</p>
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="row cardRow mt-2">
    <div class="col-md-12">
      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://images.pexels.com/photos/259803/pexels-photo-259803.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">HODOR</h5>
    
              <div class="row">
                <div class="col-md-4">
                  <p>Raza: </p>
                </div>
                <div class="col-md-4">
                  <p>Común Europeo</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p>Sexo: </p>
                </div>
                <div class="col-md-4">
                  <p>Macho</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>  
  </div>
  
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>









  
</div>