.principal {
  margin-top: 0.5%;
  margin-left: 2%;
  width: 100%;
}

.cardRow {
  height: 10vh;
}

.card2 {
  width: 100%;
}



a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.btn {
  text-transform: uppercase;
}
.btn.btn-lg {
  padding: 6px 30px;
}
.thumbnail-title {
  font-size: 25px;
  margin-top: 5px;
}
.img-thumb-bg {
  padding: 0;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  border-radius: 3px;
  background-position: center;
  background-color: transparent;
  background-image: url('https://images.pexels.com/photos/259803/pexels-photo-259803.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
.img-thumb-bg p {
  color: #fff;
  margin-bottom: 0;
  line-height: 16px;
}
.img-thumb-bg .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.img-thumb-bg .caption {
  bottom: -5px;
  height: 100px;
  font-size: 12px;
  position: absolute;
  padding: 0 20px 20px;
  transition: all 0.3s ease-in-out;
}
.img-thumb-bg .caption .tag a {
  color: #fff;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #2980B9;
}
.img-thumb-bg .caption .title {
  margin-top: 5px;
  font-size: 25px;
  line-height: 20px;
  text-transform: uppercase;
}
.img-thumb-bg .caption .title a {
  color: #fff;
}
.img-thumb-bg .caption .title a:hover {
  color: #2980B9;
}
.img-thumb-bg .caption .meta-data {
  color: #777;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 15px;
}
.img-thumb-bg .caption .meta-data a {
  color: #777;
}
.img-thumb-bg .caption .meta-data a .fa {
  color: #2980B9;
}
.img-thumb-bg .caption .meta-data a:hover {
  color: #2980B9;
}
.img-thumb-bg .caption .content {
  display: none;
}
.img-thumb-bg:hover .overlay {
  background: rgba(46, 49, 58, 0.8);
}
.img-thumb-bg:hover .caption {
  bottom: 60px;
}
.img-thumb-bg:hover .caption .content {
  display: block;
}
